<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>${i18n("hello.world")}</h1>
<br>


    <button id="startGame" type="button">Normal Aces Up</button>
    <button id="startGame2" type="button">Spanish Aces Up</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">

    document.getElementById("startGame").onclick = function () {
    location.href = "/AcesUp";
    }

    document.getElementById("startGame2").onclick = function () {
    location.href = "/SpanishAcesUp";
    }
    </script>
</@layout.myLayout>